body{
    margin: 0;
    padding: 0;

}
.header{
    background-color: #1F2937;
    padding: 2em 15em 7em 15em;
    
    
}

.top{
    display: flex;
    justify-content:space-between;
}

.logo{
    color: #f9faf8;
    font-size: 24px;

}

.links{
    display: flex;
}

ul{
    margin: 0;
    padding: 0;
    color: #f9faf8;
    gap: 15px;
    list-style: none;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding-top: 100px;
    
}
h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
p{
    color: #e5e7eb;
    font-size: 18px;
}
button{
    background-color: #3883f6;
    padding: 5px 20px 5px 20px;
    color: white;
    border-radius: 5px;
    border: none;
}



img{
    width: 400px;
}

.card img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}


.title{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.card-container{
    display: flex;
    gap:4em;
    justify-content: center;
    

}

.card{
    max-width: 250px;
    
}
.card-text{
    text-align: center;
    flex-wrap: wrap;
    width: 250px;
    word-break: break-all;
}